* {
    margin: 0;
    padding: 0;
    background-image: url('../images/background/table.jpg');
}
#entire-table {
    padding-top: 50px;
}

#main-table {
    width: 50%;
    margin: auto;
    /*Shift table right*/
    position: relative;
    left: 136px;
    padding-bottom: 25px;
}

.player {
    width: 50%;
    margin: auto;
}

.card {
    /*Change size*/
    width: 34px;
    height: 53px;
    background-size: 100%;
    background-repeat: no-repeat;
}

button {
    border: none;
    outline: none;
}

.row {
    display: flex;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#next-button {
    color: white;
}